/* Definition des polices personnalisees */
@font-face {
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dayrom';
    src: url('polices/dayrom.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background: url('images/fond_jaune.png');
    font-family: 'Trebuchet MS',Arial,sans-serif;
    color: #181818;
}

#bloc_page
{
    width: 900px;
    margin: auto;
}

section h1, footer h1, nav a
{
    font-family: dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

header{
    background: url('images/separateur.png') repeat-x bottom;
}

#titre_principal
{
    display: inline-block;
}

header h1
{
    font-family: 'BallparkWeiner',serif;
    font-size: 2.5em;
    font-weight: normal;
}

#logo ,header h1
{
    display: inline-block;
    margin-bottom: 0px;
}

header h2
{
    font-family: Dayrom,serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

#logo 
{
    height: 120px;
    width: auto;
}

nav
{
    display: inline-block;
    width: 740px;
    text-align: right;
}

nav ul
{
    list-style-type: none;
}

nav li
{
    display: inline-block;
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: green;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760017;
    border-bottom: 3px solid #760017;
}

